//
// Copyright 2024 Signal Messenger, LLC
// SPDX-License-Identifier: AGPL-3.0-only
//

GCC_TREAT_INCOMPATIBLE_POINTER_TYPE_WARNINGS_AS_ERRORS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
MTL_TREAT_WARNINGS_AS_ERRORS = YES
OTHER_SWIFT_FLAGS = $(inherited) -warnings-as-errors

// Upstream defaults used when User.xcconfig is absent.
DEVELOPMENT_TEAM = U68MSDN6DR
SIGNAL_BUNDLEID_PREFIX = org.whispersystems
SIGNAL_ORG_BUNDLEID_PREFIX = org.signal
SIGNAL_MERCHANTID = org.signalfoundation
SIGNAL_APP_NAME = $(TARGET_NAME)

// User-specific overrides
#include? "User.xcconfig"
